kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
nodes:
  - role: control-plane
    extraPortMappings:
    - containerPort: 8080
      hostPort: 30007
  - role: worker
    extraPortMappings:
    - containerPort: 8080
      hostPort: 30008
  - role: worker
    extraPortMappings:
    - containerPort: 8080
      hostPort: 30009